@import "./src/components/common/styles/mixins";

.loader {
	width: 100%;
	position: absolute;
	top: 40%;
	text-align: center;
}

.main {
	min-height: 90vh;
	.container {
		width: 100%;
		@include flex(center, column, center);
	}
}

