.main {
	position: relative;
	padding-bottom: 10px;
	width: 100%;
	div {
		margin-left: 6px;
		p {
			position: absolute;
			top: 54px;
		}
	}
	button {
		margin: 0 0 0 15px;
		padding: 10px;
		position: absolute;
		top: 4px;
		right: 8px;
	}
}

